$base-orange: #bea67c;
$base-grey: #a6a6a6;
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  width: 100%;
}
body.active {
  overflow: hidden;
}
main {
  position: relative;
  display: block;
  overflow: hidden;
}
@font-face {
  font-family: Proxima_bold;
  src: url(media/fonts/proximanova_bold.otf);
}
@font-face {
  font-family: Proxima_regular;
  src: url(media/fonts/proximanova_regular.ttf);
}
* {
  font-family: Proxima_bold;
}
.header {
  z-index: 1;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  &__menu {
    cursor: pointer;
    padding: 10px;
    background-color: unset;
    border: none;
    color: $base-grey;
    margin-left: 70px;
    margin-top: -14px;
    font-size: 15px;
    span {
      transition-duration: 1s;
      position: absolute;
      background-color: $base-orange;
      width: 33px;
      height: 2px;
      left: 30px;
      top: 35px;
      &:nth-child(1) {
        top: 25px;
      }
      &:nth-child(3) {
        top: 45px;
      }
    }
  }
  &__menu.active {
    z-index: 10;
    span {
      transition-duration: 1s;
      &:nth-child(1) {
        top: -2px;
      }
      &:nth-child(2) {
        rotate: (45deg);
      }
      &:nth-child(3) {
        top: 35px;
        rotate: (-45deg);
      }
    }
  }
  &__list {
    transition-duration: 1s;
    margin-left: -40px;
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  &__list.active {
    transition-duration: 1s;
    position: absolute;
    left: 0px;
    top: -30px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 0 1000px rgba(150, 150, 150, 0.192);
    width: 90%;
    height: 100vh;
    opacity: 1;
    transform: translate(0px, 0px);
    .header__logo {
      left: 50px;
      top: 17px;
    }
    .header__nav-button {
      margin-top: 40px;
      margin-left: 80px;
      a {
        font-size: 20px;
      }
    }
  }
  &__nav-button {
    margin: 0px 30px;
    a {
      text-transform: uppercase;
      font-size: 15px;
      text-decoration: none;
      color: $base-grey;
    }
  }
  &__logo {
    position: relative;
    margin: 0px 30px;
    a {
      letter-spacing: 15px;
      font-size: 36px;
      text-decoration: none;
      color: white;
    }
    &__span {
      position: absolute;
      background-color: $base-orange;
      width: 67px;
      height: 4px;
      top: 17px;
      left: 49px;
    }
  }
  &__switch-language {
    background-color: unset;
    border: none;
  }
  &__switch-language.choosed {
    position: absolute;
    top: 40px;
    right: 30px;
    font-size: 15px;
    background-color: unset;
    border: none;
    color: $base-grey;
  }
  @media (min-width: 850px) {
    &__menu {
      opacity: 0;
    }
  }
  @media (max-width: 850px) {
    &__list {
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      transform: translate(0px, -270px);
      opacity: 1;
      .header__logo {
        left: 50px;
        top: 17px;
      }
      .header__nav-button {
        margin-top: 40px;
        margin-left: 80px;
        a {
          font-size: 20px;
        }
      }
    }
    &__menu {
      margin-top: 15px;
      padding: 21px;
      margin-left: 25px;
    }
    &__switch-language {
      top: 0px;
      margin-top: 24px;
    }
  }
}
.background {
  position: relative;
  &__layout {
    position: relative;
    display: flex;
    overflow: hidden;
    .span {
      position: absolute;
      &__01 {
        letter-spacing: 4px;
        position: absolute;
        top: 305px;
        left: 348px;
        color: $base-orange;
        font-size: 52px;
        transform: rotate(90deg);
      }
      &__desc {
        letter-spacing: 3px;
        position: absolute;
        top: 480px;
        left: 1411px;
        color: $base-orange;
        font-size: 14px;
        transform: rotate(90deg);
        width: 300px;
        opacity: 0.3;
      }
      &__V {
        position: absolute;
        top: -110px;
        left: 1730px;
        color: $base-orange;
        font-size: 395px;
        width: 300px;
        opacity: 0.08;
      }
      &__circles {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $base-orange;
        left: 370px;
        top: 500px;
        border-radius: 50%;
        &:nth-child(3) {
          background-color: #303030;
          top: 550px;
        }
        &:nth-child(4) {
          background-color: #303030;
          top: 600px;
        }
        &:nth-child(5) {
          background-color: #303030;
          top: 650px;
        }
      }
      &__line {
        position: absolute;
        width: 4px;
        height: 50px;
        background-color: $base-orange;
        top: 290px;
        left: 375px;
      }
      @media (max-width: 1600px) {
        position: absolute;
        top: 0px;
        left: -10vw;
      }
      @media (max-width: 1250px) {
        position: absolute;
        left: -20%; //
        &__desc {
          left: 1075px;
        }
      }
    }
  }
  &__first {
    width: 1015px;
    height: 1000px;
    filter: brightness(10%);
    background-size: cover;
    background-image: url(/media/images/1.jpg);
  }
  &__second {
    height: 1040px;
    width: 900px;
    background-size: cover;
    background-image: url(/media/images/2.jpg);
    filter: brightness(10%);
  }
  &__title {
    letter-spacing: 20px;
    position: absolute;
    color: $base-orange;
    font-size: 100px;
    left: 23.5%; // изменил
    top: 23%;
    button {
      text-transform: uppercase;
      letter-spacing: 4px;
      cursor: pointer;
      top: 125%;
      left: 0%;
      position: absolute;
      background: unset;
      border: 2px solid white;
      color: white;
      font-size: 14px;
      padding: 20px 100px 20px 80px;
      span {
        position: absolute;
        background-color: white;
        width: 33px;
        height: 1px;
        right: 60px;
        top: 28px;
        &:nth-child(1) {
          width: 7px;
          top: 25px;
          transform: rotate(50deg);
        }
        &:nth-child(3) {
          width: 7px;
          top: 31px;
          transform: rotate(-50deg);
        }
      }
    }
  }
  @media (max-width: 850px) {
    &__title {
      left: 20.5%; // изменил
    }
    &__layout {
      position: relative;
      display: flex;
      overflow: hidden;
      .span {
        position: absolute;
        &__01 {
          font-size: 0px;
        }
        &__circles {
          position: relative;
        }
        &__line {
          position: relative;
        }
      }
    }
  }
  @media (max-width: 420px) {
    &__title {
      left: 12.5%;
      letter-spacing: 10px;
      font-size: 60px;
    }
    &__layout {
      position: relative;
      display: flex;
      overflow: hidden;
    }
    &__first {
      display: none;
    }
  }
  @media (max-width: 380px) {
    &__title {
      left: 10%;
    }
    &__layout {
      position: relative;
      display: flex;
      overflow: hidden;
    }
    &__first {
      display: none;
    }
  }
}
.furniture {
  position: relative;
  margin-left: 30%;
  margin-top: 100px;
  display: flex;
  margin-bottom: 100px;
  &__left {
    margin-top: 60px;
    width: 600px;
  }
  &__title {
    width: 350px;
    letter-spacing: 3px;
    font-size: 48px;
  }
  &__desc {
    margin-top: -30px;
    font-family: Proxima_regular;
    width: 350px;
    font-size: 15px;
  }

  button {
    text-transform: uppercase;
    position: relative;
    letter-spacing: 3px;
    cursor: pointer;
    background: unset;
    border: none;
    color: black;
    font-size: 14px;
    padding: 20px 100px 20px 0px;
    span {
      position: absolute;
      background-color: $base-orange;
      width: 33px;
      height: 1px;
      right: 60px;
      top: 27px;
      &:nth-child(1) {
        width: 4px;
        top: 25px;
        transform: rotate(50deg);
      }
      &:nth-child(3) {
        width: 4px;
        top: 29px;
        transform: rotate(-50deg);
      }
      &:nth-child(4) {
        width: 43px;
        height: 2px;
        top: 43px;
        left: 0px;
      }
    }
  }
  &__right {
    z-index: 1;
    margin-left: -210px;
    width: 600px;
    height: 400px;
    overflow: hidden;
    box-shadow: 1px 1px 20px #dadada, -1px -1px 10px #dadada,
      -1px -0px 10px #dadada, -0px -1px 10px #dadada;
    img {
      transform: scale(0.95) translate(-380px, -20px);
      filter: grayscale(30%);
    }
  }
  &__furniture {
    z-index: 2;
    position: absolute;
    margin-top: 100px;
    margin-left: 624px;
    letter-spacing: 3px;
    font-size: 170px;
    color: #f6f6f6;
    opacity: 25%;
  }
  &__F {
    z-index: 2;
    position: absolute;
    margin-top: -334px;
    margin-left: -226px;
    font-size: 400px;
    color: $base-orange;
    opacity: 10%;
  }
  &__01 {
    z-index: 2;
    position: absolute;
    margin-top: 366px;
    margin-left: -200px;
    letter-spacing: 3px;
    font-size: 36px;
    color: black;
  }
  &__spans {
    position: absolute;
    background-color: $base-orange;
    width: 4px;
    height: 50px;
    left: 985px;
    top: -122px;
    &:nth-child(2) {
      top: 165px;
      left: -58px;
      transform: rotate(90deg);
    }
    &:nth-child(3) {
      background-color: black;
      top: 47px;
      left: -115px;
      width: 1px;
      height: 173px;
      transform: rotate(90deg);
    }
    &:nth-child(4) {
      left: -180px;
      top: 500px;
    }
  }
  @media (max-width: 1600px) {
    position: relative;
    margin-left: 25%;
  }
  @media (max-width: 1250px) {
    margin-left: 18%;
    &__furniture {
      margin-left: 374px;
    }
    &__01 {
      margin-left: -97px;
    }
    &__spans {
      &:nth-child(4) {
        left: -74px;
        top: 450px;
      }
    }
  }
  @media (max-width: 1050px) {
    margin-left: 2%;
  }
  @media (max-width: 850px) {
    &__desc {
      width: 299px;
    }
  }
  @media (max-width: 780px) {
    display: block;
    &__right {
      margin-left: 154px;
    }
  }
  @media (max-width: 420px) {
    &__title {
      text-align: center;
      margin-left: 33px;
      margin-top: -50px;
    }
    &__desc {
      margin-left: 23px;
      margin-top: -30px;
      width: 350px;
    }
    button {
      left: 30px;
    }
    &__right {
      margin-left: -18px;
      margin-top: 30px;
    }
  }
  @media (max-width: 380px) {
    &__title {
      margin-left: -10px;
    }
    &__desc {
      margin-left: 23px;
      width: 320px;
    }
    button {
      left: 25px;
    }
    &__right {
      margin-left: -70px;
    }
  }
}
.decor {
  position: relative;
  margin-left: 30%;
  margin-top: 280px;
  display: flex;
  margin-bottom: 100px;
  &__right {
    margin-left: 66px;
    margin-top: 60px;
    width: 600px;
  }
  &__title {
    text-align: end;
    width: 350px;
    letter-spacing: 3px;
    font-size: 48px;
  }
  &__desc {
    text-align: end;
    margin-top: -30px;
    margin-left: 75px;
    font-family: Proxima_regular;
    width: 270px;
    font-size: 15px;
  }

  button {
    text-transform: uppercase;
    margin-left: 186px;
    position: relative;
    letter-spacing: 3px;
    cursor: pointer;
    background: unset;
    border: none;
    color: black;
    font-size: 14px;
    padding: 20px 100px 20px 0px;
    span {
      position: absolute;
      background-color: $base-orange;
      width: 33px;
      height: 1px;
      right: 60px;
      top: 27px;
      &:nth-child(1) {
        width: 4px;
        top: 25px;
        transform: rotate(50deg);
      }
      &:nth-child(3) {
        width: 4px;
        top: 29px;
        transform: rotate(-50deg);
      }
      &:nth-child(4) {
        width: 43px;
        height: 2px;
        top: 43px;
        left: 0px;
      }
    }
  }
  &__left {
    z-index: 1;
    margin-left: -210px;
    width: 620px;
    height: 400px;
    overflow: hidden;
    box-shadow: 1px 1px 20px #dadada, -1px -1px 10px #dadada,
      -1px -0px 10px #dadada, -0px -1px 10px #dadada;
    img {
      transform: scale(0.72) translate(-190px, -130px);
      filter: grayscale(30%);
    }
  }
  &__decor {
    z-index: 2;
    position: absolute;
    margin-top: 100px;
    margin-left: -565px;
    letter-spacing: 3px;
    font-size: 170px;
    color: #d0d0d0;
    opacity: 25%;
  }
  &__D {
    z-index: 2;
    position: absolute;
    margin-top: -300px;
    margin-left: 763px;
    font-size: 400px;
    color: $base-orange;
    opacity: 10%;
  }
  &__02 {
    z-index: 2;
    position: absolute;
    margin-top: 366px;
    margin-left: 964px;
    letter-spacing: 3px;
    font-size: 36px;
    color: black;
  }
  &__spans {
    position: absolute;
    background-color: $base-orange;
    width: 4px;
    height: 50px;
    left: 985px;
    top: 470px;
    &:nth-child(2) {
      top: 165px;
      left: 879px;
      transform: rotate(90deg);
    }
    &:nth-child(3) {
      background-color: black;
      top: 66px;
      left: 923px;
      width: 1px;
      height: 133px;
      transform: rotate(90deg);
    }
    &:nth-child(4) {
      top: 674px;
      left: 383px;
      transform: rotate(90deg);
    }
  }
  @media (max-width: 1600px) {
    position: relative;
    margin-left: 25%;
  }
  @media (max-width: 1250px) {
    margin-top: 150px;
    margin-left: 18%;
    margin-bottom: -100px;

    &__left {
      margin-left: -241px;
    }
    &__right {
      margin-left: -31px;
    }
    &__spans {
      left: 854px;
      top: 430px;
      &:nth-child(2) {
        top: 165px;
        left: 752px;
      }
      &:nth-child(3) {
        top: 15px;
        left: 839px;
        height: 220px;
      }
      &:nth-child(4) {
        top: 674px;
        left: 383px;
      }
    }
  }
  @media (max-width: 1050px) {
    margin-top: 100px;
    margin-left: 25%;
    margin-bottom: -150px;
    &__left {
      width: 833px;
      margin-left: -241px;
    }
    &__spans {
      width: 0px;
      height: 0px;
      &:nth-child(3) {
        height: 0px;
      }
    }
  }
  @media (max-width: 850px) {
    & button {
      margin-left: 138px;
    }
  }
  @media (max-width: 780px) {
    &__left {
      margin-left: -288px;
    }
  }
  @media (max-width: 420px) {
    &__left {
      display: none;
    }
    &__right {
      margin-left: -125px;
      margin-top: -35px;
      margin-bottom: 70px;
    }
  }
}
.video {
  position: relative;
  display: block;
  text-align: center;
  &__title {
    position: relative;
    margin-top: 220px;
    margin-bottom: 60px;
    font-size: 48px;
    letter-spacing: 4px;
    text-transform: uppercase;
    &__desc {
      font-family: Proxima_regular;
    }
    &__span {
      position: absolute;
      background-color: $base-orange;
      width: 50px;
      height: 4px;
      top: 140%;
      left: 50%;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 80px;
    li {
      position: relative;
      div {
        margin: 0px 40px;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        overflow: hidden;
        border: 10px solid white;
        box-shadow: 1px 1px 1px #dadada, -1px -1px 1px #dadada,
          -1px -0px 1px #dadada, -0px -1px 1px #dadada;
        .circle1 {
          transform: scale(0.15) translate(-297%, -285%);
        }
        .circle2 {
          transform: scale(0.7) translate(-280px, -80px);
        }
        .circle3 {
          transform: scale(0.4) translate(-590px, -1010px);
        }
      }
      span {
        position: absolute;
        background-color: $base-orange;
        width: 25px;
        height: 2px;
        left: 160px;
        top: 285px;
      }
      p {
        margin-top: 40px;
        margin-bottom: 160px;
        font-family: Proxima_regular;
      }
    }
  }
  @media (max-width: 1250px) {
    margin-bottom: -100px;
  }
  @media (max-width: 850px) {
    ul {
      display: grid;
      margin-top: 0px;
      margin-bottom: 100px;

      li {
        margin: 0px;
        padding: 0px;
        p {
          margin: 50px;
        }
      }
    }
  }
  @media (max-width: 420px) {
    &__title {
      font-size: 25px;
      margin-left: 25px;
      &__span {
        position: absolute;
        background-color: $base-orange;
        width: 50px;
        height: 4px;
        top: 169%;
        left: 45%;
      }
      &__desc {
        font-size: 20px;
        width: 330px;
        text-align: justify;
        margin-left: 10%;
      }
    }
    ul {
      margin: 0px;
      padding: 0px;
      margin-bottom: 100px;
    }
  }
}
.back {
  position: relative;
  &__video {
    position: relative;
    height: 910px;
    width: 100%;
    overflow: hidden;
    .woods {
      transform: scale(0.35) translate(-94%, -115%);
      filter: brightness(0.2);
    }
    .play {
      position: absolute;
      top: 0px;
      left: 0px;
      transform: scale(0.95) translate(1000px, -1%);
      opacity: 10%;
    }
    button {
      top: 565px;
      left: 545px;
      letter-spacing: 4px;
      cursor: pointer;
      position: absolute;
      background: unset;
      border: 2px solid white;
      color: white;
      font-size: 14px;
      padding: 20px 100px 20px 80px;
      text-transform: uppercase;
      span {
        position: absolute;
        background-color: $base-orange;
        width: 44px;
        height: 3px;
        right: 350px;
        top: -111px;
        &:nth-child(1) {
          width: 150px;
          height: 1px;
          top: -243px;
          background-color: white;
        }
        &:nth-child(3) {
          width: 150px;
          height: 1px;
          top: -110px;
          left: 990px;
          background-color: white;
          transform: rotate(-90deg);
        }
      }
      .button-play {
        position: absolute;
        top: -364px;
        left: -429px;
        transform: scale(0.03) translate(1000px, -2500px);
      }
    }
  }
  &__title {
    text-transform: uppercase;
    position: absolute;
    top: 250px;
    left: 545px;
    font-size: 48px;
    color: $base-orange;
    width: 500px;
  }
  &__desc {
    position: absolute;
    top: 435px;
    left: 545px;
    font-size: 15px;
    color: white;
    width: 400px;
    font-family: Proxima_regular;
  }
  &__border {
    position: absolute;
    width: 80%;
    height: 730px;
    border: 3px solid $base-orange;
    top: 90px;
    left: 165px;
  }
  @media (max-width: 1850px) {
    &__video {
      button {
        span {
          &:nth-child(3) {
            width: 100px;
            height: 1px;
            top: -110px;
            left: 990px;
            background-color: black;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
  @media (max-width: 1250px) {
    &__border {
      position: absolute;
      width: 80%;
      height: 730px;
      border: 3px solid $base-orange;
      top: 90px;
      left: 10%;
    }
  }
  @media (max-width: 1050px) {
    margin-bottom: -100px;
    &__title {
      left: 188px;
    }
    &__desc {
      left: 188px;
    }
    button {
      left: 188px;
      span {
        width: 0px;
        height: 0px;
        &:nth-child(1) {
          background-color: unset;
        }
      }
    }
  }
  @media (max-width: 420px) {
    &__title {
      left: 60px;
      font-size: 27px;
      width: 332px;
    }
    &__desc {
      top: 365px;
      left: 65px;
      width: 300px;
      font-size: 18px;
    }
    button {
      left: 63px;
      top: 611px;
      padding: 20px 73px 20px 77px;
    }
  }
  @media (max-width: 375px) {
    &__border {
      top: 4%;
      height: 91%;
    }
    &__title {
      left: 55px;
      font-size: 25px;
      width: 320px;
    }
    &__desc {
      top: 365px;
      left: 55px;
      width: 290px;
      font-size: 18px;
    }
    button {
      left: 55px;
      top: 611px;
      padding: 20px 55px 20px 74px;
    }
  }
}
.about {
  position: relative;
  margin-left: 570px;
  margin-top: 140px;
  display: flex;
  margin-bottom: 100px;
  &__right {
    margin-left: 95px;
    margin-top: 60px;
    width: 600px;
  }
  &__title {
    text-transform: uppercase;
    width: 350px;
    letter-spacing: 3px;
    font-size: 48px;
  }
  &__desc {
    margin-top: -30px;
    font-family: Proxima_regular;
    width: 330px;
    font-size: 15px;
  }

  button {
    text-transform: uppercase;
    position: relative;
    letter-spacing: 3px;
    cursor: pointer;
    background: unset;
    border: none;
    color: black;
    font-size: 14px;
    padding: 20px 100px 20px 0px;
    span {
      position: absolute;
      background-color: $base-orange;
      width: 33px;
      height: 1px;
      right: 60px;
      top: 27px;
      &:nth-child(1) {
        width: 4px;
        top: 25px;
        transform: rotate(50deg);
      }
      &:nth-child(3) {
        width: 4px;
        top: 29px;
        transform: rotate(-50deg);
      }
      &:nth-child(4) {
        width: 43px;
        height: 2px;
        top: 43px;
        left: 0px;
      }
    }
  }
  &__left {
    z-index: 1;
    margin-left: -198px;
    width: 620px;
    height: 400px;
    overflow: hidden;
    box-shadow: 1px 1px 20px #dadada, -1px -1px 10px #dadada,
      -1px -0px 10px #dadada, -0px -1px 10px #dadada;
    img {
      transform: scale(0.5) translate(-620px, -418px);
    }
  }
  &__about {
    text-transform: uppercase;
    z-index: 2;
    position: absolute;
    margin-top: 100px;
    margin-left: -628px;
    letter-spacing: 3px;
    font-size: 170px;
    color: #d0d0d0;
    opacity: 25%;
  }
  &__A {
    z-index: -1;
    text-transform: uppercase;
    position: absolute;
    margin-top: -349px;
    margin-left: 763px;
    font-size: 400px;
    color: $base-orange;
    opacity: 10%;
  }
  &__spans {
    position: absolute;
    background-color: $base-orange;
    width: 4px;
    height: 50px;
    &:nth-child(1) {
      top: 165px;
      left: 471px;
      transform: rotate(90deg);
    }
    &:nth-child(2) {
      z-index: 1;
      background-color: black;
      top: 66px;
      left: 430px;
      width: 1px;
      height: 133px;
      transform: rotate(90deg);
    }
  }
  @media (max-width: 1750px) {
    &__spans {
      position: relative;
    }
    &__left {
      z-index: 1;
      margin-left: -198px;
      width: 620px;
      height: 100%;
      overflow: hidden;
      box-shadow: 1px 1px 20px #dadada, -1px -1px 10px #dadada,
        -1px -0px 10px #dadada, -0px -1px 10px #dadada;
      img {
        width: 100%;

        transform: scale(1.1) translate(0, 0);
      }
    }
  }
  @media (max-width: 1250px) {
    &__left {
      margin-left: -466px;
      width: 900px;
      height: 400px;
    }
  }
  @media (max-width: 1050px) {
    margin-bottom: 50px;
    &__left {
      height: 300px;
    }
    &__right {
      margin-top: 7px;
    }
  }
  @media (max-width: 850px) {
    margin-left: 502px;
    &__right {
      margin-left: 23px;
    }
  }
  @media (max-width: 780px) {
    &__left {
      height: 270px;
    }
    margin-left: 480px;
    &__right {
      margin-left: 13px;
    }
  }
  @media (max-width: 420px) {
    margin-left: 9px;
    &__left {
      display: none;
    }
  }
}

.footer {
  position: relative;
  width: 100%;
  height: 65px;
  overflow: hidden;
  img {
    display: block;
    filter: brightness(20%);
    transform: scale(1) translate(0%, -30%);
  }
  ul {
    list-style-type: none;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    li {
      position: relative;
      margin-top: 10px;
      span {
        position: absolute;
        background-color: $base-orange;
        width: 48px;
        height: 3px;
        top: 45px;
        left: 32px;
      }
    }
    .footer__copyright {
      font-size: 15px;
      color: #d0d0d0;
      font-family: Proxima_regular;
      opacity: 50%;
    }
    .footer__title {
      margin-top: -26px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 4px;
      font-size: 30px;
    }
    .footer__author {
      font-size: 15px;
      color: #d0d0d0;
      opacity: 50%;
      font-family: Proxima_regular;
    }
  }
  @media (max-width: 420px) {
    ul {
      left: -20px;
      .footer__copyright {
        padding-left: 0px;
        font-size: 12px;
        color: #d0d0d0;
        font-family: Proxima_regular;
        opacity: 50%;
        padding-top: 4px;
      }
      .footer__title {
        display: none;
      }
      .footer__author {
        padding-right: 26px;
        font-size: 15px;
        color: #d0d0d0;
        opacity: 50%;
        font-family: Proxima_regular;
      }
    }
  }
}
