html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
}

body.active {
  overflow: hidden;
}

main {
  position: relative;
  display: block;
  overflow: hidden;
}

@font-face {
  font-family: Proxima_bold;
  src: url(media/fonts/proximanova_bold.otf);
}
@font-face {
  font-family: Proxima_regular;
  src: url(media/fonts/proximanova_regular.ttf);
}
* {
  font-family: Proxima_bold;
}

.header {
  z-index: 1;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.header__menu {
  background-color: unset;
  border: none;
  color: #a6a6a6;
  margin-left: 70px;
  margin-top: -14px;
  font-size: 15px;
}
.header__menu span {
  transition-duration: 1s;
  position: absolute;
  background-color: #bea67c;
  width: 33px;
  height: 2px;
  left: 30px;
  top: 35px;
}
.header__menu span:nth-child(1) {
  top: 25px;
}
.header__menu span:nth-child(3) {
  top: 45px;
}
.header__menu.active {
  z-index: 10;
}
.header__menu.active span {
  transition-duration: 1s;
}
.header__menu.active span:nth-child(1) {
  top: -2px;
}
.header__menu.active span:nth-child(2) {
  rotate: 45deg;
}
.header__menu.active span:nth-child(3) {
  top: 35px;
  rotate: -45deg;
}
.header__list {
  transition-duration: 1s;
  margin-left: -40px;
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header__list.active {
  transition-duration: 1s;
  position: absolute;
  left: 0px;
  top: -30px;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 0 1000px rgba(150, 150, 150, 0.192);
  width: 90%;
  height: 100vh;
  opacity: 1;
  transform: translate(0px, 0px);
}
.header__list.active .header__logo {
  left: 50px;
  top: 17px;
}
.header__list.active .header__nav-button {
  margin-top: 40px;
  margin-left: 80px;
}
.header__list.active .header__nav-button a {
  font-size: 20px;
}
.header__nav-button {
  margin: 0px 30px;
}
.header__nav-button a {
  font-size: 15px;
  text-decoration: none;
  color: #a6a6a6;
}
.header__logo {
  position: relative;
  margin: 0px 30px;
}
.header__logo a {
  letter-spacing: 15px;
  font-size: 36px;
  text-decoration: none;
  color: white;
}
.header__logo__span {
  position: absolute;
  background-color: #bea67c;
  width: 67px;
  height: 4px;
  top: 17px;
  left: 49px;
}
.header__switch-language {
  margin-right: 30px;
  font-size: 15px;
  background-color: unset;
  border: none;
  color: #a6a6a6;
}
@media (min-width: 850px) {
  .header__menu {
    opacity: 0;
  }
}
@media (max-width: 850px) {
  .header__list {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(0px, -270px);
    opacity: 1;
  }
  .header__list .header__logo {
    left: 50px;
    top: 17px;
  }
  .header__list .header__nav-button {
    margin-top: 40px;
    margin-left: 80px;
  }
  .header__list .header__nav-button a {
    font-size: 20px;
  }
  .header__menu {
    margin-top: 24px;
  }
  .header__switch-language {
    margin-top: 24px;
  }
}

.background {
  position: relative;
}
.background__layout {
  position: relative;
  display: flex;
  overflow: hidden;
}
.background__layout .span {
  position: absolute;
}
.background__layout .span__01 {
  letter-spacing: 4px;
  position: absolute;
  top: 305px;
  left: 348px;
  color: #bea67c;
  font-size: 52px;
  transform: rotate(90deg);
}
.background__layout .span__desc {
  letter-spacing: 3px;
  position: absolute;
  top: 480px;
  left: 1411px;
  color: #bea67c;
  font-size: 14px;
  transform: rotate(90deg);
  width: 300px;
  opacity: 0.3;
}
.background__layout .span__V {
  position: absolute;
  top: -110px;
  left: 1730px;
  color: #bea67c;
  font-size: 395px;
  width: 300px;
  opacity: 0.08;
}
.background__layout .span__circles {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #bea67c;
  left: 370px;
  top: 500px;
  border-radius: 50%;
}
.background__layout .span__circles:nth-child(3) {
  background-color: #303030;
  top: 550px;
}
.background__layout .span__circles:nth-child(4) {
  background-color: #303030;
  top: 600px;
}
.background__layout .span__circles:nth-child(5) {
  background-color: #303030;
  top: 650px;
}
.background__layout .span__line {
  position: absolute;
  width: 4px;
  height: 50px;
  background-color: #bea67c;
  top: 290px;
  left: 375px;
}
@media (max-width: 1600px) {
  .background__layout .span {
    position: absolute;
    top: 0px;
    left: -10vw;
  }
}
@media (max-width: 1250px) {
  .background__layout .span {
    position: absolute;
    left: -20%;
  }
  .background__layout .span__desc {
    left: 1075px;
  }
}
.background__first {
  width: 1015px;
  height: 1000px;
  filter: brightness(10%);
  background-size: cover;
  background-image: url(/media/images/1.jpg);
}
.background__second {
  height: 1040px;
  width: 900px;
  background-size: cover;
  background-image: url(/media/images/2.jpg);
  filter: brightness(10%);
}
.background__title {
  letter-spacing: 20px;
  position: absolute;
  color: #bea67c;
  font-size: 100px;
  left: 23.5%;
  top: 23%;
}
.background__title button {
  letter-spacing: 4px;
  cursor: pointer;
  top: 125%;
  left: 0%;
  position: absolute;
  background: unset;
  border: 2px solid white;
  color: white;
  font-size: 14px;
  padding: 20px 100px 20px 80px;
}
.background__title button span {
  position: absolute;
  background-color: white;
  width: 33px;
  height: 1px;
  right: 60px;
  top: 28px;
}
.background__title button span:nth-child(1) {
  width: 7px;
  top: 25px;
  transform: rotate(50deg);
}
.background__title button span:nth-child(3) {
  width: 7px;
  top: 31px;
  transform: rotate(-50deg);
}
@media (max-width: 850px) {
  .background__title {
    left: 20.5%;
  }
  .background__layout {
    position: relative;
    display: flex;
    overflow: hidden;
  }
  .background__layout .span {
    position: absolute;
  }
  .background__layout .span__01 {
    font-size: 0px;
  }
  .background__layout .span__circles {
    position: relative;
  }
  .background__layout .span__line {
    position: relative;
  }
}
@media (max-width: 420px) {
  .background__title {
    left: 12.5%;
    letter-spacing: 10px;
    font-size: 60px;
  }
  .background__layout {
    position: relative;
    display: flex;
    overflow: hidden;
  }
  .background__first {
    display: none;
  }
}
@media (max-width: 380px) {
  .background__title {
    left: 10%;
  }
  .background__layout {
    position: relative;
    display: flex;
    overflow: hidden;
  }
  .background__first {
    display: none;
  }
}

.furniture {
  position: relative;
  margin-left: 30%;
  margin-top: 100px;
  display: flex;
  margin-bottom: 100px;
}
.furniture__left {
  margin-top: 60px;
  width: 600px;
}
.furniture__title {
  width: 350px;
  letter-spacing: 3px;
  font-size: 48px;
}
.furniture__desc {
  margin-top: -30px;
  font-family: Proxima_regular;
  width: 350px;
  font-size: 15px;
}
.furniture button {
  position: relative;
  letter-spacing: 3px;
  cursor: pointer;
  background: unset;
  border: none;
  color: black;
  font-size: 14px;
  padding: 20px 100px 20px 0px;
}
.furniture button span {
  position: absolute;
  background-color: #bea67c;
  width: 33px;
  height: 1px;
  right: 60px;
  top: 27px;
}
.furniture button span:nth-child(1) {
  width: 4px;
  top: 25px;
  transform: rotate(50deg);
}
.furniture button span:nth-child(3) {
  width: 4px;
  top: 29px;
  transform: rotate(-50deg);
}
.furniture button span:nth-child(4) {
  width: 43px;
  height: 2px;
  top: 43px;
  left: 0px;
}
.furniture__right {
  z-index: 1;
  margin-left: -210px;
  width: 600px;
  height: 400px;
  overflow: hidden;
  box-shadow: 1px 1px 20px #dadada, -1px -1px 10px #dadada, -1px 0px 10px #dadada, 0px -1px 10px #dadada;
}
.furniture__right img {
  transform: scale(0.95) translate(-380px, -20px);
  filter: grayscale(30%);
}
.furniture__furniture {
  z-index: 2;
  position: absolute;
  margin-top: 100px;
  margin-left: 624px;
  letter-spacing: 3px;
  font-size: 170px;
  color: #f6f6f6;
  opacity: 25%;
}
.furniture__F {
  z-index: 2;
  position: absolute;
  margin-top: -334px;
  margin-left: -226px;
  font-size: 400px;
  color: #bea67c;
  opacity: 10%;
}
.furniture__01 {
  z-index: 2;
  position: absolute;
  margin-top: 366px;
  margin-left: -200px;
  letter-spacing: 3px;
  font-size: 36px;
  color: black;
}
.furniture__spans {
  position: absolute;
  background-color: #bea67c;
  width: 4px;
  height: 50px;
  left: 985px;
  top: -122px;
}
.furniture__spans:nth-child(2) {
  top: 165px;
  left: -58px;
  transform: rotate(90deg);
}
.furniture__spans:nth-child(3) {
  background-color: black;
  top: 47px;
  left: -115px;
  width: 1px;
  height: 173px;
  transform: rotate(90deg);
}
.furniture__spans:nth-child(4) {
  left: -180px;
  top: 500px;
}
@media (max-width: 1600px) {
  .furniture {
    position: relative;
    margin-left: 25%;
  }
}
@media (max-width: 1250px) {
  .furniture {
    margin-left: 18%;
  }
  .furniture__furniture {
    margin-left: 374px;
  }
  .furniture__01 {
    margin-left: -97px;
  }
  .furniture__spans:nth-child(4) {
    left: -74px;
    top: 450px;
  }
}
@media (max-width: 1050px) {
  .furniture {
    margin-left: 2%;
  }
}
@media (max-width: 850px) {
  .furniture__desc {
    width: 299px;
  }
}
@media (max-width: 780px) {
  .furniture {
    display: block;
  }
  .furniture__right {
    margin-left: 154px;
  }
}
@media (max-width: 420px) {
  .furniture__title {
    text-align: center;
    margin-left: 33px;
    margin-top: -50px;
  }
  .furniture__desc {
    margin-left: 23px;
    margin-top: -30px;
    width: 350px;
  }
  .furniture button {
    left: 30px;
  }
  .furniture__right {
    margin-left: -18px;
    margin-top: 30px;
  }
}
@media (max-width: 380px) {
  .furniture__title {
    margin-left: -10px;
  }
  .furniture__desc {
    margin-left: 23px;
    width: 320px;
  }
  .furniture button {
    left: 25px;
  }
  .furniture__right {
    margin-left: -70px;
  }
}

.decor {
  position: relative;
  margin-left: 30%;
  margin-top: 280px;
  display: flex;
  margin-bottom: 100px;
}
.decor__right {
  margin-left: 66px;
  margin-top: 60px;
  width: 600px;
}
.decor__title {
  text-align: end;
  width: 350px;
  letter-spacing: 3px;
  font-size: 48px;
}
.decor__desc {
  text-align: end;
  margin-top: -30px;
  margin-left: 75px;
  font-family: Proxima_regular;
  width: 270px;
  font-size: 15px;
}
.decor button {
  margin-left: 186px;
  position: relative;
  letter-spacing: 3px;
  cursor: pointer;
  background: unset;
  border: none;
  color: black;
  font-size: 14px;
  padding: 20px 100px 20px 0px;
}
.decor button span {
  position: absolute;
  background-color: #bea67c;
  width: 33px;
  height: 1px;
  right: 60px;
  top: 27px;
}
.decor button span:nth-child(1) {
  width: 4px;
  top: 25px;
  transform: rotate(50deg);
}
.decor button span:nth-child(3) {
  width: 4px;
  top: 29px;
  transform: rotate(-50deg);
}
.decor button span:nth-child(4) {
  width: 43px;
  height: 2px;
  top: 43px;
  left: 0px;
}
.decor__left {
  z-index: 1;
  margin-left: -210px;
  width: 620px;
  height: 400px;
  overflow: hidden;
  box-shadow: 1px 1px 20px #dadada, -1px -1px 10px #dadada, -1px 0px 10px #dadada, 0px -1px 10px #dadada;
}
.decor__left img {
  transform: scale(0.72) translate(-190px, -130px);
  filter: grayscale(30%);
}
.decor__decor {
  z-index: 2;
  position: absolute;
  margin-top: 100px;
  margin-left: -565px;
  letter-spacing: 3px;
  font-size: 170px;
  color: #d0d0d0;
  opacity: 25%;
}
.decor__D {
  z-index: 2;
  position: absolute;
  margin-top: -300px;
  margin-left: 763px;
  font-size: 400px;
  color: #bea67c;
  opacity: 10%;
}
.decor__02 {
  z-index: 2;
  position: absolute;
  margin-top: 366px;
  margin-left: 964px;
  letter-spacing: 3px;
  font-size: 36px;
  color: black;
}
.decor__spans {
  position: absolute;
  background-color: #bea67c;
  width: 4px;
  height: 50px;
  left: 985px;
  top: 470px;
}
.decor__spans:nth-child(2) {
  top: 165px;
  left: 879px;
  transform: rotate(90deg);
}
.decor__spans:nth-child(3) {
  background-color: black;
  top: 66px;
  left: 923px;
  width: 1px;
  height: 133px;
  transform: rotate(90deg);
}
.decor__spans:nth-child(4) {
  top: 674px;
  left: 383px;
  transform: rotate(90deg);
}
@media (max-width: 1600px) {
  .decor {
    position: relative;
    margin-left: 25%;
  }
}
@media (max-width: 1250px) {
  .decor {
    margin-top: 150px;
    margin-left: 18%;
    margin-bottom: -100px;
  }
  .decor__left {
    margin-left: -241px;
  }
  .decor__right {
    margin-left: -31px;
  }
  .decor__spans {
    left: 854px;
    top: 430px;
  }
  .decor__spans:nth-child(2) {
    top: 165px;
    left: 752px;
  }
  .decor__spans:nth-child(3) {
    top: 15px;
    left: 839px;
    height: 220px;
  }
  .decor__spans:nth-child(4) {
    top: 674px;
    left: 383px;
  }
}
@media (max-width: 1050px) {
  .decor {
    margin-top: 100px;
    margin-left: 25%;
    margin-bottom: -150px;
  }
  .decor__left {
    width: 833px;
    margin-left: -241px;
  }
  .decor__spans {
    width: 0px;
    height: 0px;
  }
  .decor__spans:nth-child(3) {
    height: 0px;
  }
}
@media (max-width: 850px) {
  .decor button {
    margin-left: 138px;
  }
}
@media (max-width: 780px) {
  .decor__left {
    margin-left: -288px;
  }
}
@media (max-width: 420px) {
  .decor__left {
    display: none;
  }
  .decor__right {
    margin-left: -125px;
    margin-top: -35px;
    margin-bottom: 70px;
  }
}

.video {
  position: relative;
  display: block;
  text-align: center;
}
.video__title {
  position: relative;
  margin-top: 220px;
  margin-bottom: 60px;
  font-size: 48px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.video__title__desc {
  font-family: Proxima_regular;
}
.video__title__span {
  position: absolute;
  background-color: #bea67c;
  width: 50px;
  height: 4px;
  top: 140%;
  left: 50%;
}
.video ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 80px;
}
.video ul li {
  position: relative;
}
.video ul li div {
  margin: 0px 40px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid white;
  box-shadow: 1px 1px 1px #dadada, -1px -1px 1px #dadada, -1px 0px 1px #dadada, 0px -1px 1px #dadada;
}
.video ul li div .circle1 {
  transform: scale(0.15) translate(-297%, -285%);
}
.video ul li div .circle2 {
  transform: scale(0.7) translate(-280px, -80px);
}
.video ul li div .circle3 {
  transform: scale(0.4) translate(-590px, -1010px);
}
.video ul li span {
  position: absolute;
  background-color: #bea67c;
  width: 25px;
  height: 2px;
  left: 160px;
  top: 285px;
}
.video ul li p {
  margin-top: 40px;
  margin-bottom: 160px;
  font-family: Proxima_regular;
}
@media (max-width: 1250px) {
  .video {
    margin-bottom: -100px;
  }
}
@media (max-width: 850px) {
  .video ul {
    display: grid;
    margin-top: 0px;
    margin-bottom: 100px;
  }
  .video ul li {
    margin: 0px;
    padding: 0px;
  }
  .video ul li p {
    margin: 50px;
  }
}
@media (max-width: 420px) {
  .video__title {
    font-size: 25px;
    margin-left: 25px;
  }
  .video__title__span {
    position: absolute;
    background-color: #bea67c;
    width: 50px;
    height: 4px;
    top: 169%;
    left: 45%;
  }
  .video__title__desc {
    font-size: 20px;
    width: 330px;
    text-align: justify;
    margin-left: 10%;
  }
  .video ul {
    margin: 0px;
    padding: 0px;
    margin-bottom: 100px;
  }
}

.back {
  position: relative;
}
.back__video {
  position: relative;
  height: 910px;
  width: 100%;
  overflow: hidden;
}
.back__video .woods {
  transform: scale(0.35) translate(-94%, -115%);
  filter: brightness(0.2);
}
.back__video .play {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: scale(0.95) translate(1000px, -1%);
  opacity: 10%;
}
.back__video button {
  top: 565px;
  left: 545px;
  letter-spacing: 4px;
  cursor: pointer;
  position: absolute;
  background: unset;
  border: 2px solid white;
  color: white;
  font-size: 14px;
  padding: 20px 100px 20px 80px;
  text-transform: uppercase;
}
.back__video button span {
  position: absolute;
  background-color: #bea67c;
  width: 44px;
  height: 3px;
  right: 350px;
  top: -111px;
}
.back__video button span:nth-child(1) {
  width: 150px;
  height: 1px;
  top: -243px;
  background-color: white;
}
.back__video button span:nth-child(3) {
  width: 150px;
  height: 1px;
  top: -110px;
  left: 990px;
  background-color: white;
  transform: rotate(-90deg);
}
.back__video button .button-play {
  position: absolute;
  top: -364px;
  left: -429px;
  transform: scale(0.03) translate(1000px, -2500px);
}
.back__title {
  text-transform: uppercase;
  position: absolute;
  top: 250px;
  left: 545px;
  font-size: 48px;
  color: #bea67c;
  width: 500px;
}
.back__desc {
  position: absolute;
  top: 435px;
  left: 545px;
  font-size: 15px;
  color: white;
  width: 400px;
  font-family: Proxima_regular;
}
.back__border {
  position: absolute;
  width: 80%;
  height: 730px;
  border: 3px solid #bea67c;
  top: 90px;
  left: 165px;
}
@media (max-width: 1850px) {
  .back__video button span:nth-child(3) {
    width: 100px;
    height: 1px;
    top: -110px;
    left: 990px;
    background-color: black;
    transform: rotate(-90deg);
  }
}
@media (max-width: 1250px) {
  .back__border {
    position: absolute;
    width: 80%;
    height: 730px;
    border: 3px solid #bea67c;
    top: 90px;
    left: 10%;
  }
}
@media (max-width: 1050px) {
  .back {
    margin-bottom: -100px;
  }
  .back__title {
    left: 188px;
  }
  .back__desc {
    left: 188px;
  }
  .back button {
    left: 188px;
  }
  .back button span {
    width: 0px;
    height: 0px;
  }
  .back button span:nth-child(1) {
    background-color: unset;
  }
}
@media (max-width: 420px) {
  .back__title {
    left: 60px;
    font-size: 27px;
    width: 332px;
  }
  .back__desc {
    top: 365px;
    left: 65px;
    width: 300px;
    font-size: 18px;
  }
  .back button {
    left: 63px;
    top: 611px;
    padding: 20px 73px 20px 77px;
  }
}
@media (max-width: 375px) {
  .back__border {
    top: 4%;
    height: 91%;
  }
  .back__title {
    left: 55px;
    font-size: 25px;
    width: 320px;
  }
  .back__desc {
    top: 365px;
    left: 55px;
    width: 290px;
    font-size: 18px;
  }
  .back button {
    left: 55px;
    top: 611px;
    padding: 20px 55px 20px 74px;
  }
}

.about {
  position: relative;
  margin-left: 570px;
  margin-top: 140px;
  display: flex;
  margin-bottom: 100px;
}
.about__right {
  margin-left: 95px;
  margin-top: 60px;
  width: 600px;
}
.about__title {
  text-transform: uppercase;
  width: 350px;
  letter-spacing: 3px;
  font-size: 48px;
}
.about__desc {
  margin-top: -30px;
  font-family: Proxima_regular;
  width: 330px;
  font-size: 15px;
}
.about button {
  position: relative;
  letter-spacing: 3px;
  cursor: pointer;
  background: unset;
  border: none;
  color: black;
  font-size: 14px;
  padding: 20px 100px 20px 0px;
}
.about button span {
  position: absolute;
  background-color: #bea67c;
  width: 33px;
  height: 1px;
  right: 60px;
  top: 27px;
}
.about button span:nth-child(1) {
  width: 4px;
  top: 25px;
  transform: rotate(50deg);
}
.about button span:nth-child(3) {
  width: 4px;
  top: 29px;
  transform: rotate(-50deg);
}
.about button span:nth-child(4) {
  width: 43px;
  height: 2px;
  top: 43px;
  left: 0px;
}
.about__left {
  z-index: 1;
  margin-left: -198px;
  width: 620px;
  height: 400px;
  overflow: hidden;
  box-shadow: 1px 1px 20px #dadada, -1px -1px 10px #dadada, -1px 0px 10px #dadada, 0px -1px 10px #dadada;
}
.about__left img {
  transform: scale(0.5) translate(-620px, -418px);
}
.about__about {
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  margin-top: 100px;
  margin-left: -628px;
  letter-spacing: 3px;
  font-size: 170px;
  color: #d0d0d0;
  opacity: 25%;
}
.about__A {
  z-index: -1;
  text-transform: uppercase;
  position: absolute;
  margin-top: -349px;
  margin-left: 763px;
  font-size: 400px;
  color: #bea67c;
  opacity: 10%;
}
.about__spans {
  position: absolute;
  background-color: #bea67c;
  width: 4px;
  height: 50px;
}
.about__spans:nth-child(1) {
  top: 165px;
  left: 471px;
  transform: rotate(90deg);
}
.about__spans:nth-child(2) {
  z-index: 1;
  background-color: black;
  top: 66px;
  left: 430px;
  width: 1px;
  height: 133px;
  transform: rotate(90deg);
}
@media (max-width: 1750px) {
  .about__spans {
    position: relative;
  }
  .about__left {
    z-index: 1;
    margin-left: -198px;
    width: 620px;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 20px #dadada, -1px -1px 10px #dadada, -1px 0px 10px #dadada, 0px -1px 10px #dadada;
  }
  .about__left img {
    width: 100%;
    transform: scale(1.1) translate(0, 0);
  }
}
@media (max-width: 1250px) {
  .about__left {
    margin-left: -466px;
    width: 900px;
    height: 400px;
  }
}
@media (max-width: 1050px) {
  .about {
    margin-bottom: 50px;
  }
  .about__left {
    height: 300px;
  }
  .about__right {
    margin-top: 7px;
  }
}
@media (max-width: 850px) {
  .about {
    margin-left: 502px;
  }
  .about__right {
    margin-left: 23px;
  }
}
@media (max-width: 780px) {
  .about {
    margin-left: 480px;
  }
  .about__left {
    height: 270px;
  }
  .about__right {
    margin-left: 13px;
  }
}
@media (max-width: 420px) {
  .about {
    margin-left: 9px;
  }
  .about__left {
    display: none;
  }
}

.footer {
  position: relative;
  width: 100%;
  height: 65px;
  overflow: hidden;
}
.footer img {
  display: block;
  filter: brightness(20%);
  transform: scale(1) translate(0%, -30%);
}
.footer ul {
  list-style-type: none;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.footer ul li {
  position: relative;
  margin-top: 10px;
}
.footer ul li span {
  position: absolute;
  background-color: #bea67c;
  width: 48px;
  height: 3px;
  top: 45px;
  left: 32px;
}
.footer ul .footer__copyright {
  font-size: 15px;
  color: #d0d0d0;
  font-family: Proxima_regular;
  opacity: 50%;
}
.footer ul .footer__title {
  margin-top: -26px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  font-size: 30px;
}
.footer ul .footer__author {
  font-size: 15px;
  color: #d0d0d0;
  opacity: 50%;
  font-family: Proxima_regular;
}
@media (max-width: 420px) {
  .footer ul {
    left: -20px;
  }
  .footer ul .footer__copyright {
    padding-left: 0px;
    font-size: 12px;
    color: #d0d0d0;
    font-family: Proxima_regular;
    opacity: 50%;
    padding-top: 4px;
  }
  .footer ul .footer__title {
    display: none;
  }
  .footer ul .footer__author {
    padding-right: 26px;
    font-size: 15px;
    color: #d0d0d0;
    opacity: 50%;
    font-family: Proxima_regular;
  }
}/*# sourceMappingURL=styles.css.map */