$base-orange: #bea67c;
$base-grey: #a6a6a6;
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  width: 100%;
}
main {
  position: relative;
  display: block;
  overflow: hidden;
}
@font-face {
  font-family: Proxima_bold;
  src: url(media/fonts/proximanova_bold.otf);
}
@font-face {
  font-family: Proxima_regular;
  src: url(media/fonts/proximanova_regular.ttf);
}
* {
  font-family: Proxima_bold;
}
.header {
  z-index: 1;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  &__menu {
    background-color: unset;
    border: none;
    color: $base-grey;
    margin-left: 70px;
    margin-top: -14px;
    font-size: 15px;
    span {
      position: absolute;
      background-color: $base-orange;
      width: 33px;
      height: 2px;
      left: 30px;
      top: 35px;
      &:nth-child(1) {
        top: 25px;
      }
      &:nth-child(3) {
        top: 45px;
      }
    }
  }
  &__list {
    margin-left: -40px;
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  &__nav-button {
    margin: 0px 30px;
    a {
      font-size: 15px;
      text-decoration: none;
      color: $base-grey;
    }
  }
  &__logo {
    position: relative;
    margin: 0px 30px;
    a {
      letter-spacing: 15px;
      font-size: 36px;
      text-decoration: none;
      color: white;
    }
    &__span {
      position: absolute;
      background-color: $base-orange;
      width: 67px;
      height: 4px;
      top: 18px;
      left: 49px;
    }
  }
  &__switch-language {
    margin-right: 30px;
    font-size: 15px;
    background-color: unset;
    border: none;
    color: $base-grey;
  }
}
.background {
  position: relative;
  &__layout {
    position: relative;
    display: flex;
    overflow: hidden;
    .span {
      position: absolute;
      &__01 {
        letter-spacing: 4px;
        position: absolute;
        top: 305px;
        left: 348px;
        color: $base-orange;
        font-size: 52px;
        transform: rotate(90deg);
      }
      &__desc {
        letter-spacing: 3px;
        position: absolute;
        top: 480px;
        left: 1411px;
        color: $base-orange;
        font-size: 14px;
        transform: rotate(90deg);
        width: 300px;
        opacity: 0.3;
      }
      &__V {
        position: absolute;
        top: -110px;
        left: 1730px;
        color: $base-orange;
        font-size: 395px;
        width: 300px;
        opacity: 0.08;
      }
      &__circles {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $base-orange;
        left: 370px;
        top: 500px;
        border-radius: 50%;
        &:nth-child(3) {
          background-color: #303030;
          top: 550px;
        }
        &:nth-child(4) {
          background-color: #303030;
          top: 600px;
        }
        &:nth-child(5) {
          background-color: #303030;
          top: 650px;
        }
      }
      &__line {
        position: absolute;
        width: 4px;
        height: 50px;
        background-color: $base-orange;
        top: 290px;
        left: 375px;
      }
    }
  }
  &__first {
    width: 1015px;
    height: 1000px;
    filter: brightness(10%);
    background-image: url(/media/images/1.jpg);
    background-size: cover;
  }
  &__second {
    height: 1040px;
    width: 900px;
    background-size: cover;
    background-image: url(/media/images/2.jpg);
    filter: brightness(10%);
  }
  &__title {
    letter-spacing: 20px;
    position: absolute;
    color: $base-orange;
    font-size: 100px;
    left: 35.5%;
    top: 23%;
    button {
      letter-spacing: 4px;
      cursor: pointer;
      top: 125%;
      left: 0%;
      position: absolute;
      background: unset;
      border: 2px solid white;
      color: white;
      font-size: 14px;
      padding: 20px 100px 20px 80px;
      span {
        position: absolute;
        background-color: white;
        width: 33px;
        height: 1px;
        right: 60px;
        top: 28px;
        &:nth-child(1) {
          width: 7px;
          top: 25px;
          transform: rotate(50deg);
        }
        &:nth-child(3) {
          width: 7px;
          top: 31px;
          transform: rotate(-50deg);
        }
      }
    }
  }
}
.furniture {
  position: relative;
  margin-left: 570px;
  margin-top: 100px;
  display: flex;
  margin-bottom: 100px;
  &__left {
    margin-top: 60px;
    width: 600px;
  }
  &__title {
    width: 350px;
    letter-spacing: 3px;
    font-size: 48px;
  }
  &__desc {
    margin-top: -30px;
    font-family: Proxima_regular;
    width: 350px;
    font-size: 15px;
  }

  button {
    position: relative;
    letter-spacing: 3px;
    cursor: pointer;
    background: unset;
    border: none;
    color: black;
    font-size: 14px;
    padding: 20px 100px 20px 0px;
    span {
      position: absolute;
      background-color: $base-orange;
      width: 33px;
      height: 1px;
      right: 60px;
      top: 27px;
      &:nth-child(1) {
        width: 4px;
        top: 25px;
        transform: rotate(50deg);
      }
      &:nth-child(3) {
        width: 4px;
        top: 29px;
        transform: rotate(-50deg);
      }
      &:nth-child(4) {
        width: 43px;
        height: 2px;
        top: 43px;
        left: 0px;
      }
    }
  }
  &__right {
    z-index: 1;
    margin-left: -210px;
    width: 600px;
    height: 400px;
    overflow: hidden;
    box-shadow: 1px 1px 20px #dadada, -1px -1px 10px #dadada,
      -1px -0px 10px #dadada, -0px -1px 10px #dadada;
    img {
      transform: scale(0.95) translate(-380px, -20px);
      filter: grayscale(30%);
    }
  }
  &__furniture {
    z-index: 2;
    position: absolute;
    margin-top: 100px;
    margin-left: 624px;
    letter-spacing: 3px;
    font-size: 170px;
    color: #f6f6f6;
    opacity: 25%;
  }
  &__F {
    z-index: 2;
    position: absolute;
    margin-top: -334px;
    margin-left: -226px;
    font-size: 400px;
    color: $base-orange;
    opacity: 10%;
  }
  &__01 {
    z-index: 2;
    position: absolute;
    margin-top: 366px;
    margin-left: -200px;
    letter-spacing: 3px;
    font-size: 36px;
    color: black;
  }
  &__spans {
    position: absolute;
    background-color: $base-orange;
    width: 4px;
    height: 50px;
    left: 985px;
    top: -122px;
    &:nth-child(2) {
      top: 165px;
      left: -58px;
      transform: rotate(90deg);
    }
    &:nth-child(3) {
      background-color: black;
      top: 47px;
      left: -115px;
      width: 1px;
      height: 173px;
      transform: rotate(90deg);
    }
    &:nth-child(4) {
      left: -180px;
      top: 500px;
    }
  }
}
.decor {
  position: relative;
  margin-left: 570px;
  margin-top: 280px;
  display: flex;
  margin-bottom: 100px;
  &__right {
    margin-left: 66px;
    margin-top: 60px;
    width: 600px;
  }
  &__title {
    text-align: end;
    width: 350px;
    letter-spacing: 3px;
    font-size: 48px;
  }
  &__desc {
    text-align: end;
    margin-top: -30px;
    margin-left: 75px;
    font-family: Proxima_regular;
    width: 270px;
    font-size: 15px;
  }

  button {
    margin-left: 186px;
    position: relative;
    letter-spacing: 3px;
    cursor: pointer;
    background: unset;
    border: none;
    color: black;
    font-size: 14px;
    padding: 20px 100px 20px 0px;
    span {
      position: absolute;
      background-color: $base-orange;
      width: 33px;
      height: 1px;
      right: 60px;
      top: 27px;
      &:nth-child(1) {
        width: 4px;
        top: 25px;
        transform: rotate(50deg);
      }
      &:nth-child(3) {
        width: 4px;
        top: 29px;
        transform: rotate(-50deg);
      }
      &:nth-child(4) {
        width: 43px;
        height: 2px;
        top: 43px;
        left: 0px;
      }
    }
  }
  &__left {
    z-index: 1;
    margin-left: -210px;
    width: 620px;
    height: 400px;
    overflow: hidden;
    box-shadow: 1px 1px 20px #dadada, -1px -1px 10px #dadada,
      -1px -0px 10px #dadada, -0px -1px 10px #dadada;
    img {
      transform: scale(0.72) translate(-190px, -130px);
      filter: grayscale(30%);
    }
  }
  &__decor {
    z-index: 2;
    position: absolute;
    margin-top: 100px;
    margin-left: -565px;
    letter-spacing: 3px;
    font-size: 170px;
    color: #d0d0d0;
    opacity: 25%;
  }
  &__D {
    z-index: 2;
    position: absolute;
    margin-top: -300px;
    margin-left: 763px;
    font-size: 400px;
    color: $base-orange;
    opacity: 10%;
  }
  &__02 {
    z-index: 2;
    position: absolute;
    margin-top: 366px;
    margin-left: 964px;
    letter-spacing: 3px;
    font-size: 36px;
    color: black;
  }
  &__spans {
    position: absolute;
    background-color: $base-orange;
    width: 4px;
    height: 50px;
    left: 985px;
    top: 470px;
    &:nth-child(2) {
      top: 165px;
      left: 879px;
      transform: rotate(90deg);
    }
    &:nth-child(3) {
      background-color: black;
      top: 66px;
      left: 923px;
      width: 1px;
      height: 133px;
      transform: rotate(90deg);
    }
    &:nth-child(4) {
      top: 674px;
      left: 383px;
      transform: rotate(90deg);
    }
  }
}
.video {
  display: block;
  text-align: center;
  &__title {
    margin-top: 220px;
    margin-bottom: 60px;

    font-size: 48px;
    letter-spacing: 4px;
    text-transform: uppercase;
    &__desc {
      font-family: Proxima_regular;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 80px;
    li {
      position: relative;
      div {
        margin: 0px 40px;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        overflow: hidden;
        border: 10px solid white;
        box-shadow: 1px 1px 1px #dadada, -1px -1px 1px #dadada,
          -1px -0px 1px #dadada, -0px -1px 1px #dadada;
        .circle1 {
          transform: scale(0.15) translate(-297%, -285%);
        }
        .circle2 {
          transform: scale(0.7) translate(-280px, -80px);
        }
        .circle3 {
          transform: scale(0.4) translate(-590px, -1010px);
        }
      }
      span {
        position: absolute;
        background-color: $base-orange;
        width: 25px;
        height: 2px;
        left: 160px;
        top: 285px;
      }
      p {
        margin-top: 40px;
        margin-bottom: 160px;
        font-family: Proxima_regular;
      }
    }
  }
}
.back {
  position: relative;
  &__video {
    position: relative;
    height: 910px;
    width: 100%;
    overflow: hidden;
    .woods {
      transform: scale(0.35) translate(-94%, -115%);
      filter: brightness(0.2);
    }
    .play {
      position: absolute;
      top: 0px;
      left: 0px;
      transform: scale(0.95) translate(1000px, -1%);
      opacity: 10%;
    }
    button {
      top: 565px;
      left: 545px;
      letter-spacing: 4px;
      cursor: pointer;
      position: absolute;
      background: unset;
      border: 2px solid white;
      color: white;
      font-size: 14px;
      padding: 20px 100px 20px 80px;
      text-transform: uppercase;
      span {
        position: absolute;
        background-color: $base-orange;
        width: 44px;
        height: 3px;
        right: 350px;
        top: -111px;
        &:nth-child(1) {
          width: 150px;
          height: 1px;
          top: -243px;
          background-color: white;
        }
        &:nth-child(3) {
          width: 150px;
          height: 1px;
          top: -110px;
          left: 990px;
          background-color: white;
          transform: rotate(-90deg);
        }
      }
      .button-play {
        position: absolute;
        top: -364px;
        left: -429px;
        transform: scale(0.03) translate(1000px, -2500px);
      }
    }
  }
  &__title {
    text-transform: uppercase;
    position: absolute;
    top: 250px;
    left: 545px;
    font-size: 48px;
    color: $base-orange;
    width: 500px;
  }
  &__desc {
    position: absolute;
    top: 435px;
    left: 545px;
    font-size: 15px;
    color: white;
    width: 400px;
    font-family: Proxima_regular;
  }
  &__border {
    position: absolute;
    width: 1550px;
    height: 730px;
    border: 3px solid $base-orange;
    top: 90px;
    left: 165px;
  }
}
.about {
  position: relative;
  margin-left: 570px;
  margin-top: 140px;
  display: flex;
  margin-bottom: 100px;
  &__right {
    margin-left: 95px;
    margin-top: 60px;
    width: 600px;
  }
  &__title {
    text-transform: uppercase;
    width: 350px;
    letter-spacing: 3px;
    font-size: 48px;
  }
  &__desc {
    margin-top: -30px;
    font-family: Proxima_regular;
    width: 330px;
    font-size: 15px;
  }

  button {
    position: relative;
    letter-spacing: 3px;
    cursor: pointer;
    background: unset;
    border: none;
    color: black;
    font-size: 14px;
    padding: 20px 100px 20px 0px;
    span {
      position: absolute;
      background-color: $base-orange;
      width: 33px;
      height: 1px;
      right: 60px;
      top: 27px;
      &:nth-child(1) {
        width: 4px;
        top: 25px;
        transform: rotate(50deg);
      }
      &:nth-child(3) {
        width: 4px;
        top: 29px;
        transform: rotate(-50deg);
      }
      &:nth-child(4) {
        width: 43px;
        height: 2px;
        top: 43px;
        left: 0px;
      }
    }
  }
  &__left {
    z-index: 1;
    margin-left: -198px;
    width: 620px;
    height: 400px;
    overflow: hidden;
    box-shadow: 1px 1px 20px #dadada, -1px -1px 10px #dadada,
      -1px -0px 10px #dadada, -0px -1px 10px #dadada;
    img {
      transform: scale(0.5) translate(-620px, -418px);
    }
  }
  &__about {
    text-transform: uppercase;
    z-index: 2;
    position: absolute;
    margin-top: 100px;
    margin-left: -628px;
    letter-spacing: 3px;
    font-size: 170px;
    color: #d0d0d0;
    opacity: 25%;
  }
  &__A {
    z-index: -1;
    text-transform: uppercase;
    position: absolute;
    margin-top: -349px;
    margin-left: 763px;
    font-size: 400px;
    color: $base-orange;
    opacity: 10%;
  }
  &__spans {
    position: absolute;
    background-color: $base-orange;
    width: 4px;
    height: 50px;
    &:nth-child(1) {
      top: 165px;
      left: 471px;
      transform: rotate(90deg);
    }
    &:nth-child(2) {
      z-index: 1;
      background-color: black;
      top: 66px;
      left: 430px;
      width: 1px;
      height: 133px;
      transform: rotate(90deg);
    }
  }
}
.footer {
  position: relative;
  width: 100%;
  height: 65px;
  overflow: hidden;
  img {
    filter: brightness(20%);
    transform: scale(1) translate(0%, -30%);
  }
  &__text {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    .footer__copyright {
      margin-left: 205px;
      margin-top: 27px;
      font-size: 15px;
      color: #d0d0d0;
      font-family: Proxima_regular;
      opacity: 50%;
    }
    .footer__title {
      margin-left: 104px;
      margin-top: 18px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 4px;
      font-size: 30px;
    }
    .footer__author {
      margin-left: 10px;
      margin-right: 91px;
      margin-top: 25px;
      font-size: 15px;
      color: #d0d0d0;
      opacity: 50%;
      font-family: Proxima_regular;
    }
    span {
      position: absolute;
      background-color: $base-orange;
      width: 48px;
      height: 3px;
      top: 33px;
      left: 948px;
    }
  }
}
